ussdCallbackUrl/Service References/fintrakService/GeneralService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/fintrakcoreservice/GeneralService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FinTrakLogic.Logic" />
  <xs:import schemaLocation="http://localhost/fintrakcoreservice/GeneralService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FinTrakServiceAPI" />
  <xs:import schemaLocation="http://localhost/fintrakcoreservice/GeneralService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FinTrakDAL" />
  <xs:element name="GetChurchMapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChurchMappingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FinTrakLogic.Logic" minOccurs="0" name="GetChurchMappingResult" nillable="true" type="q1:ChurchMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRemittanceAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRemittanceAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FinTrakLogic.Logic" minOccurs="0" name="ListRemittanceAccountResult" nillable="true" type="q2:ArrayOfRemittanceAccounts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyCustomerAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyCustomerAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyCustomerAccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCustomerBalanceResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isGLAccountValid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isGLAccountValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isGLAccountValidResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FinTrakLogic.Logic" minOccurs="0" name="lstPostingObject" nillable="true" type="q3:ArrayOfPostingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostTransactionsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostRemittance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FinTrakLogic.Logic" minOccurs="0" name="lstPostingObject" nillable="true" type="q4:ArrayOfPostingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostRemittanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostRemittanceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCompanyNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopCheque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ChequeNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopChequeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopChequeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmCheque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ChequeNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="BeneficiaryName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmChequeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmChequeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChequeBookRequisition">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChequeBookRequisitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChequeBookRequisitionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isCustomerAccountValid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isCustomerAccountValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isCustomerAccountValidResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChartOfAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="coyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChartOfAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FinTrakLogic.Logic" minOccurs="0" name="GetChartOfAccountResult" nillable="true" type="q5:ArrayOfChartOfAccountDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentSystemDate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentSystemDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentSystemDateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTellersList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTellersListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FinTrakServiceAPI" minOccurs="0" name="GetTellersListResult" nillable="true" type="q6:ArrayOfTeller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomeCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomeCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCustomeCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLoanAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FinTrakLogic.Logic" minOccurs="0" name="AddLoan" nillable="true" type="q7:LoanDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLoanAddedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsLoanAddedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccountOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FinTrakLogic.Logic" minOccurs="0" name="request" nillable="true" type="q8:CreateAccountRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccountOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/FinTrakLogic.Logic" minOccurs="0" name="CreateAccountOnlineResult" nillable="true" type="q9:CreateAccountResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/FinTrakLogic.Logic" minOccurs="0" name="GetCustomerDetailsResult" nillable="true" type="q10:CustomerDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDetailsForBeneficiary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDetailsForBeneficiaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/FinTrakLogic.Logic" minOccurs="0" name="GetCustomerDetailsForBeneficiaryResult" nillable="true" type="q11:CustomerDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomerAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomerAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/FinTrakLogic.Logic" minOccurs="0" name="GetAllCustomerAccountsResult" nillable="true" type="q12:ArrayOfCustomerAccounts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateStatement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateStatementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/FinTrakDAL" minOccurs="0" name="GenerateStatementResult" nillable="true" type="q13:ArrayOfsp_Statement_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDealsPerCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDealsPerCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/FinTrakLogic.Logic" minOccurs="0" name="GetAllDealsPerCustomerResult" nillable="true" type="q14:ArrayOfInvestmentDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDealInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dealID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDealInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/FinTrakLogic.Logic" minOccurs="0" name="GetDealInfoResult" nillable="true" type="q15:InvestmentDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLoanProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLoanProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/FinTrakLogic.Logic" minOccurs="0" name="GetAllLoanProductsResult" nillable="true" type="q16:ArrayOfLoanProductDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerLoanProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerLoanProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/FinTrakLogic.Logic" minOccurs="0" name="GetCustomerLoanProductsResult" nillable="true" type="q17:ArrayOfLoanDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLoanSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tenor" type="xs:int" />
        <xs:element minOccurs="0" name="interestRate" type="xs:decimal" />
        <xs:element minOccurs="0" name="principalBalance" type="xs:float" />
        <xs:element minOccurs="0" name="startdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="moratorium" type="xs:int" />
        <xs:element minOccurs="0" name="numOfInstalment" type="xs:float" />
        <xs:element minOccurs="0" name="CustCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="scheduleMethod" type="xs:int" />
        <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Frequency" type="xs:decimal" />
        <xs:element minOccurs="0" name="TenorMode" type="xs:int" />
        <xs:element minOccurs="0" name="WithInterest" type="xs:boolean" />
        <xs:element minOccurs="0" name="Ref" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FirstPayDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Fee" type="xs:decimal" />
        <xs:element minOccurs="0" name="freqOfFee" type="xs:int" />
        <xs:element minOccurs="0" name="SetEqualDate" type="xs:boolean" />
        <xs:element minOccurs="0" name="TerminalDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="PrincipalFrequency" type="xs:decimal" />
        <xs:element minOccurs="0" name="FixedPrincipal" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLoanScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/FinTrakLogic.Logic" minOccurs="0" name="GetAllLoanScheduleResult" nillable="true" type="q18:ArrayOfLoanScheduleDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanScheduleMethod">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanScheduleMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/FinTrakLogic.Logic" minOccurs="0" name="GetLoanScheduleMethodResult" nillable="true" type="q19:ArrayOfScheduleMethodDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentModes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentModesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/FinTrakLogic.Logic" minOccurs="0" name="GetPaymentModesResult" nillable="true" type="q20:ArrayOfPaymentModeDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NIP_AmountFreeze">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="narration" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NIP_AmountFreezeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NIP_AmountFreezeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NIP_AmountUnFreeze">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="narration" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NIP_AmountUnFreezeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NIP_AmountUnFreezeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NIP_AccountFreeze">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NIP_AccountFreezeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NIP_AccountFreezeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NIP_AccountUnFreeze">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NIP_AccountUnFreezeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NIP_AccountUnFreezeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NIP_MandateAdvice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NIP_MandateAdviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NIP_MandateAdviceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>