ussdCallbackUrl/Service References/fintrakService/GeneralService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FinTrakServiceAPI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FinTrakServiceAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTeller">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Teller" nillable="true" type="tns:Teller" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeller" nillable="true" type="tns:ArrayOfTeller" />
  <xs:complexType name="Teller">
    <xs:sequence>
      <xs:element minOccurs="0" name="branchcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="staffid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tillledger" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Teller" nillable="true" type="tns:Teller" />
</xs:schema>